{% extends 'jobs/base.html' %}

{# form for entering email to get password reset link #}
{% block content %}
  <form method="post" class="form">{% csrf_token %}
    <h2>Password reset</h2>
    Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    {{ form.as_p }}
    <input type="submit" value="Reset" class="btn btn-blue">
  <a href="{% url 'login' %}"><button type="button" class="btn btn-gray">Cancel</button></a>
  </form>
{% endblock %}