{% extends 'jobs/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  {% for job in object_list %}
    <div class="my-4 card text-center">
      <div class="card-header">
        <h5 class="card-title">{{ job.title }}</h5>
        <span class="status text-{% if job.get_status == 'Done' %}danger{% elif job.get_status == 'Taken' %}warning{% else %}success{% endif %}">
          {{ job.get_status }}
        </span>
      </div>
      <div class="card-body">
        <p class="card-text">{{ job.description|truncatewords:50  }}</p>
        <a href="{{ job.get_absolute_url }}" class="btn btn-primary">View Details</a>
      </div>
      <div class="card-footer text-muted">
        {{ job.timestamp }}
      </div>
    </div>
  {% endfor %}
{% endblock content %}
